@font-face {
  src: url("../../vendor/fonts/cabinet-grotesk-webfont/CabinetGrotesk-Regular.woff");
  font-family: "Cabinet Grotesk";
}

.card {
  width: 325px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__text {
  position: absolute;
  top: 15px;
  margin: 0;
  padding: 2px 12px;
  /*width: 73px;*/
  height: 24px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Cabinet Grotesk";
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.card__image {
  width: 100%;
  height: 100%;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  cursor: pointer;
}
