@font-face {
  src: url("../../vendor/fonts/cabinet-grotesk-webfont/CabinetGrotesk-Regular.woff");
  font-family: "Cabinet Grotesk";
}

.weather-card {
  margin-bottom: 40px;
  position: relative;
  display: flex;
  width: 100%;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
}

.weather-card__condition {
  object-fit: cover;
  object-position: right top;
  width: 100%;
}

.weather-card__temperature {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 16px;
  font-family: "Cabinet Grotesk";
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
}
