@font-face {
  src: url("../../vendor/fonts/cabinet-grotesk-webfont/CabinetGrotesk-Regular.woff");
  font-family: "Cabinet Grotesk";
}

.header {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.header__date-and-location {
  margin: 0 0 0 24px;
}

.header__add-clothes-button {
  margin-left: 20px;
  padding: 0;
  border: none;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.header__add-clothes-button:hover {
  opacity: 0.6;
}

.header__user-container {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.header__username {
  margin: 0;
}

.header__avatar {
  margin-left: 24px;
  width: 40px;
}

.header__avatar-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  margin-left: 24px;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid rgba(0, 0, 0, 0.5) 2px;
  border-radius: 50%;
}

.header__avatar-letter {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__auth-container {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  display: flex;
  gap: 20px;
}

.header__signup-button {
  margin-left: 20px;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__signup-button:hover {
  opacity: 0.6;
}

.header__signin-button {
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__signin-button:hover {
  opacity: 0.6;
}
