@font-face {
  src: url("../../vendor/fonts/cabinet-grotesk-webfont/CabinetGrotesk-Regular.woff");
  font-family: "Cabinet Grotesk";
}

.header {
  padding: 32px 40px 28px;
  display: flex;
  align-items: center;
  font-family: "Cabinet Grotesk";
  font-weight: bold;
}

.header__date-and-location {
  margin: 0 0 0 24px;
}

.header__add-clothes-button {
  margin-left: auto;
  border: none;
  font-family: "Cabinet Grotesk";
  font-weight: bold;
}

.header__user-container {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.header__username {
  margin: 0;
}

.header__avatar {
  margin-left: 24px;
}
