@font-face {
  src: url("../../vendor/fonts/cabinet-grotesk-webfont/CabinetGrotesk-Regular.woff");
  font-family: "Cabinet Grotesk";
}

.header {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.header__date-and-location {
  margin: 0 0 0 24px;
}

.header__add-clothes-button {
  margin-left: 20px;
  padding: 0;
  border: none;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.header__add-clothes-button:hover {
  opacity: 0.6;
}

.header__user-container {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.header__username {
  margin: 0;
}

.header__avatar {
  margin-left: 24px;
}

.header__link {
  text-decoration: none;
  color: #000;
}
