@font-face {
  src: url("../../vendor/fonts/cabinet-grotesk-webfont/CabinetGrotesk-Regular.woff");
  font-family: "Cabinet Grotesk";
}

.sidebar {
  display: flex;
  align-items: center;
  width: 259px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__username {
  margin: 0 0 0 16px;
  display: flex;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
}
