@font-face {
  src: url("../../vendor/fonts/cabinet-grotesk-webfont/CabinetGrotesk-Regular.woff");
  font-family: "Cabinet Grotesk";
}

.sidebar {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__username {
  display: flex;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-wrap: nowrap;
}
