@font-face {
  src: url("../../vendor/fonts/cabinet-grotesk-webfont/CabinetGrotesk-Regular.woff");
  font-family: "Cabinet Grotesk";
}

.sidebar {
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sidebar__user-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__avatar-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid rgba(0, 0, 0, 0.5) 2px;
  border-radius: 50%;
}

.sidebar__avatar-letter {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: bold;
  color: #fff;
}

.sidebar__username {
  display: flex;
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-wrap: nowrap;
}

.sidebar__edit-button {
  margin: 0 0 8px;
  padding: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-wrap: nowrap;
  background: none;
  border: none;
}

.sidebar__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.sidebar__logout-button {
  margin: 0;
  padding: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-wrap: nowrap;
  background: none;
  border: none;
}

.sidebar__logout-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
